<?xml version="1.0"?>
<config>
    <modules>
        <MagePsycho_Citydropdown>
            <version>1.0.0</version>
        </MagePsycho_Citydropdown>
    </modules>
	<frontend>
        <routers>
           <citydropdown>
               <use>standard</use>
               <args>
                   <module>MagePsycho_Citydropdown</module>
                   <frontName>citydropdown</frontName>
               </args>
           </citydropdown>
        </routers>
        <layout>
            <updates>
                <citydropdown>
                    <file>citydropdown.xml</file>
                </citydropdown>
            </updates>
        </layout>
    </frontend>
    <global>
		<models>
            <citydropdown>
                <class>MagePsycho_Citydropdown_Model</class>
            </citydropdown>
        </models>
        <resources>
            <citydropdown_setup>
                <setup>
                    <module>MagePsycho_Citydropdown</module>
                </setup>
				<connection>
                    <use>core_setup</use>
                </connection>
            </citydropdown_setup>
			<citydropdown_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </citydropdown_write>
            <citydropdown_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </citydropdown_read>
        </resources>
		<!--
        <blocks>
            <citydropdown>
                <class>MagePsycho_Citydropdown_Block</class>
            </citydropdown>
        </blocks>
		-->
        <helpers>
            <citydropdown>
                <class>MagePsycho_Citydropdown_Helper</class>
            </citydropdown>
        </helpers>
	</global>
</config>
